auto/appdaemon/apps/
auto/appdaemon/dashboards/
auto/appdaemon/secrets.yaml
auto/homeassistant-config/.*
auto/homeassistant-config/custom_components/
auto/homeassistant-config/home-assistant_v2.db
auto/homeassistant-config/home-assistant.log
auto/homeassistant-config/secrets.yaml
auto/homeassistant-config/www/community/
auto/mosquitto/data/
auto/nodered/.*
auto/nodered/flows_cred.json
auto/nodered/node_modules/
auto/nodered/package-lock.json
media/downloads
media/emby-config/
media/plex-config/Library/
media/transmission-config/
media/transmission-config/resume/
media/transmission-config/torrents/
media/transmission-downloads
media/video
